{% extends "layout.html" %} {% block content %}
<div class="caption text-center">
  <div class="container">
    <header>
      <div class="row">
        <h1>draw support</h1>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </header>
  </div>
  <h3>調整中</h3>

  <form action="/result" method="post" enctype="multipart/form-data">
    <input type="hidden" name="thread" value="{{ thread }}">
    <label for="article">投稿</label>
    <!-- <input type="text" name="article"> -->
    <textarea name="article" rows="6" cols="100"></textarea>
    <p>画像ファイル</p>
    <input type="file" name="pic">
    <br>
    <label for="name">名前</label>
    <input type="text" name="name">
    <p></p>
    <button type="submit">送信する</button>
  </form>

  <h2>投稿一覧 {{ thread }}</h2>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>日付</th>
        <th>名前</th>
        <th>投稿</th>
      </tr>
    </thead>
    <tbody>
      {% for f in articles: %}
      <tr>
        <th scope="row">{{ f.pub_date }}</th>
        <td>{{ f.name }}</td>
        <td>{{ f.article }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form action="/" method="get">
    <button type="submit">戻る</button>
  </form>
</div>
{% endblock %}